// ══════════════════════════════════════════
//  AUTOSTART
// ══════════════════════════════════════════

spawn-at-startup "noctalia"

// ══════════════════════════════════════════
//  INPUT
// ══════════════════════════════════════════

input {
    keyboard {
        xkb {
            layout "be"
        }

        numlock
    }

    touchpad {
        tap
        natural-scroll
        scroll-factor 1.0
        drag true
        drag-lock
    }

    mouse {
        accel-profile "flat"
    }

    focus-follows-mouse max-scroll-amount="0%"
}


// ══════════════════════════════════════════
//  OUTPUTS / MONITORS
// ══════════════════════════════════════════

output "HP Inc. OMEN 27qs CNC40417HS" {
    mode "2560x1440@239.998"
    scale 1
    position x=0 y=0
}

output "PNP(BNQ) ZOWIE XL LCD B4K01146SL0" {
    mode "1920x1080@60"
    scale 1
    position x=-1920 y=180
}

output "BOE 0x0A06 Unknown" {
    mode "1920x1080"
    scale 1.2
    position x=0 y=0
}

// ══════════════════════════════════════════
//  LAYOUT
// ══════════════════════════════════════════

overview {
  zoom 0.5
  workspace-shadow {
    off
  }
}

layout {
    background-color "transparent"
    gaps 4

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 1.0
    }

    preset-window-heights {
        proportion 0.5
        proportion 1.0
    }

    default-column-width { proportion 1.0; }

    border {
      off
    }

    focus-ring {
      width 2
      active-color "#ffffff60"
      inactive-color "#ffffff00"
      urgent-color "red"
    }

    shadow {
        off
    }
}


// ══════════════════════════════════════════
//  MISC / APPEARANCE
// ══════════════════════════════════════════

hotkey-overlay {
  skip-at-startup
}

prefer-no-csd

screenshot-path "/tmp/screenshot.png"

cursor {
    xcursor-size 24
}

debug {
  // Allows notification actions and window activation from Noctalia.
  honor-xdg-activation-with-invalid-serial
}

animations {
    slowdown 0.85
}

environment {
    XKB_DEFAULT_LAYOUT "be"
}

// ══════════════════════════════════════════
//  LAYER RULES
// ══════════════════════════════════════════

layer-rule {
  background-effect {
    xray false
  }
}

layer-rule {
  match namespace="^noctalia-wallpaper*"
  match namespace="^noctalia-overview"
  place-within-backdrop true
}

layer-rule {
  match namespace="^noctalia-(bar-[^\"]+|notification|dock|panel|osd)$"

  background-effect {
    blur true
  }
}

// ══════════════════════════════════════════
//  WINDOW RULES
// ══════════════════════════════════════════

window-rule {
  background-effect {
    xray false
  }

  draw-border-with-background false
  geometry-corner-radius 10
  clip-to-geometry true
}

window-rule {
    match app-id="kitty"
    match app-id="Nautilus"
    opacity 0.85
    background-effect {
        blur true
    }
}

window-rule {
    match app-id="Nautilus"
    match app-id="dev.noctalia.Noctalia.Settings"
    match app-id="steam"
    exclude title="^[Ss]team$"
    open-floating true
    default-column-width { proportion 0.5; }
    default-window-height { proportion 0.666; }
}

window-rule {
    match app-id="^net-runelite-client-RuneLite$"
    open-floating true
}

window-rule {
    match app-id="steam"
    exclude title="^[Ss]team$"
    focus-ring {
        off
    }
}

window-rule {
    match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
    default-floating-position x=10 y=10 relative-to="bottom-right"
}

window-rule {
    match title="discord.com is sharing your screen."
    border { off; }
    focus-ring { off; }
    default-floating-position x=-20 y=-20000
}

window-rule {
    match app-id="steam_app_252950"
    // allow-tearing true
}


// ══════════════════════════════════════════
//  KEY BINDINGS
// ══════════════════════════════════════════

binds {
    Alt+h { spawn "wtype" "-k" "Left"; }
    Alt+l { spawn "wtype" "-k" "Right"; }
    Alt+j { spawn "wtype" "-k" "Down"; }
    Alt+k { spawn "wtype" "-k" "Up"; }
    // Alt Gr
    Mod5+h { spawn "wtype" "-k" "Left"; }
    Mod5+l { spawn "wtype" "-k" "Right"; }
    Mod5+j { spawn "wtype" "-k" "Down"; }
    Mod5+k { spawn "wtype" "-k" "Up"; }

    // Window/ Session
    Super+Q { close-window; }
    Super+Ctrl+Shift+Q {
        spawn "sh" "-c" "kill -9 $(niri msg --json focused-window | jq .pid)";
    }
    Super+BackSpace { spawn "noctalia" "msg" "panel-toggle" "session"; }
    Super+W { spawn-sh "niri msg action toggle-window-floating && niri msg action expand-column-to-available-width"; }
    Ctrl+Alt+Return { fullscreen-window; }
    Super+Z { expand-column-to-available-width; }

    // App launchers
    Super+T { spawn "kitty"; }
    Super+F { spawn "helium"; }
    Super+E { spawn "emacsclient" "-c" "-a" ""; }
    Super+A { spawn "noctalia" "msg" "panel-toggle" "launcher"; }
    Super+X { spawn "noctalia" "msg" "panel-toggle" "wallpaper"; }
    Super+C { spawn "noctalia" "msg" "panel-toggle" "clipboard"; }
    Super+S { spawn-sh "grep '^Host ' ~/.ssh/config | grep -v '\\*' | awk '{print $2}' | noctalia dmenu | xargs -I{} kitty ssh {}"; }

    XF86AudioRaiseVolume  allow-when-locked=true { spawn "noctalia" "msg" "volume-up"; }
    XF86AudioLowerVolume  allow-when-locked=true { spawn "noctalia" "msg" "volume-down"; }
    XF86AudioMute         allow-when-locked=true { spawn "noctalia" "msg" "volume-mute"; }
    XF86MonBrightnessUp   allow-when-locked=true { spawn "noctalia" "msg" "brightness-up"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "noctalia" "msg" "brightness-down"; }
    XF86AudioPlay         allow-when-locked=true { spawn "noctalia" "msg" "media" "toggle"; }
    XF86AudioPause        allow-when-locked=true { spawn "noctalia" "msg" "media" "toggle"; }
    XF86AudioNext         allow-when-locked=true { spawn "noctalia" "msg" "media" "next"; }
    XF86AudioPrev         allow-when-locked=true { spawn "noctalia" "msg" "media" "previous"; }

    Super+P repeat=false {
        spawn-sh "rm -f /tmp/screenshot.png && niri msg action screenshot -p false && while [ ! -f /tmp/screenshot.png ]; do sleep 0.05; done && swappy -f /tmp/screenshot.png";
    }
    Super+Shift+P repeat=false {
        spawn-sh "rm -f /tmp/screenshot.png && niri msg action screenshot-screen -p false && while [ ! -f /tmp/screenshot.png ]; do sleep 0.05; done && swappy -f /tmp/screenshot.png";
    }
    Super+Alt+P repeat=false {
        spawn-sh "wl-mirror --fullscreen-output $(niri msg --json outputs | jq -r '.[].name' | grep -v $(niri msg --json focused-output | jq -r .name) | noctalia dmenu) $(niri msg --json focused-output | jq -r .name)";
    }

    Super+O { toggle-overview; }

    // Focus navigation
    Super+H { focus-column-or-monitor-left; }
    Super+Left { focus-column-or-monitor-left; }
    Super+L { focus-column-or-monitor-right; }
    Super+Right { focus-column-or-monitor-right; }
    Super+K { focus-window-or-workspace-up; }
    Super+Up { focus-window-or-workspace-up; }
    Super+J { focus-window-or-workspace-down; }
    Super+Down { focus-window-or-workspace-down; }

    // Move stuff
    Super+Alt+H { move-column-left-or-to-monitor-left; }
    Super+Alt+Left { move-column-left-or-to-monitor-left; }
    Super+Alt+L { move-column-right-or-to-monitor-right; }
    Super+Alt+Right { move-column-right-or-to-monitor-right; }
    Super+Alt+K { move-window-up-or-to-workspace-up; }
    Super+Alt+Up { move-window-up-or-to-workspace-up; }
    Super+Alt+J { move-window-down-or-to-workspace-down; }
    Super+Alt+Down { move-window-down-or-to-workspace-down; }

    // Consume/ Expel
    Super+Shift+H { consume-or-expel-window-left; }
    Super+Shift+Left { consume-or-expel-window-left; }
    Super+Shift+L { consume-or-expel-window-right; }
    Super+Shift+Right { consume-or-expel-window-right; }
    Super+Shift+K { move-window-up; }
    Super+Shift+Up { move-window-up; }
    Super+Shift+J { move-window-down; }
    Super+Shift+Down { move-window-down; }

    // Column/ window sizing
    Super+R { switch-preset-column-width; }
    Super+Shift+R { switch-preset-window-height; }
    Super+Minus { set-column-width "-10%"; }
    Super+Equal { set-column-width "+10%"; }
}
